<span class="ui-select-match">
    <li class="ui-select-match-item" ng-repeat="$item in $select.selected track by ($item.email)"
        ng-class="{'select2-locked':$select.isLocked(this, $index)}"
        ng-switch="$item.type" draggable="true">
        <span ng-switch-default
              class="alert alert-warning alert-dismissible ui-select-tag-badge ui-select-tag-badge-mail" role="alert"
              ng-class="[$item.type, $selectMultiple.isActiveIndex($index) ? 'select':'', $selectMultiple.isInvalid($item) ? 'invalid': '']"
              user-name="{{::$item[$item.type].name}}"
              ng-switch="$item.type">
            <span ng-switch-default class="value">{{::$item.email}}</span>
            <!-- 메일에서 같은 이메일을 2번 붙여넣을 때에 대한 예외처리 추가 drag & drop에 대한 예외로 track by시에 true가 되게 수정-->
            <span ng-switch-when="emailUser" class="value inline-editor-wrap">
                <span ng-if="!$item._editMode" class="value">{{::$item.email}}</span>
                <span ng-if="$item._editMode">
                    <span class="phantom-value">{{$item._inputModel}}</span>
                    <input type="text" class="input-value" ng-model="$item._inputModel"
                           ng-change="$select.sizeSearchInput()"
                           ng-keydown="$selectMultiple.onKeydownEditInput($event)"
                           ng-blur="$selectMultiple.editItem($item._inputModel, $item, $index)"/>
                </span>
            </span>
            <a ng-if="!$item._editMode" href="#" class="transparent-btn tag-edit-btn v2-icons-edit" tabindex="-1"
               ng-click="$item._inputModel=($item[$item.type]);$item._editMode=true;"></a>
            <a ng-if="!$item._editMode" href="#" class="close-tag dcon-x-small" ng-click="$selectMultiple.removeChoice($index)" tabindex="-1"></a>
        </span>
    </li>
</span>

